json={
  "": "0",
  "credentials": {
    "scope": "GLOBAL",
    "id": "AWS_ACCESS_KEY_ID",
    "secret": "{{ aws_access_key_id | urlencode }}",
    "description": "AWS_ACCESS_KEY_ID",
    "$class": "org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl"
  }
}